
/* The search field */
#user-input {
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* Search field when it gets clicked on */
#user-input :focus{outline: 3px solid #ddd;}

.openMenu {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3{
    width: 35px;
    height: 5px;
    background-color: #e0d8ab;
    margin: 6px 0;
    transition: o.4s;
}

/*List of venues*/
.results {
    display: block;
    position: absolute;
    background-color: #f6f6f6;
    max-width: 300px;
    border: 1px solid #ddd;
    z-index: 1;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.closeMenu {
    padding-top: 5%;
    padding-left: 15px;
    font-size: 12px;
    color: rgb(121, 113, 113);
    width:40px;
    cursor: pointer;
}

.closeMenu:hover {
    color: rgb(226, 104, 34);
    font-weight: 400;
}


/* Venues list inside menu */
.venue-results li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of venues on hover */
.venue-results li:hover {
    background-color: #e0d8ab;
    cursor: pointer;
}

.openMenu {
    display: block;
}

.hide {
    display: none;
}


